<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <panth_blog>
            <general>
                <enabled>1</enabled>
                <route_frontname>blog</route_frontname>
                <index_title>Blog</index_title>
                <index_description>Latest articles and tutorials.</index_description>
                <index_hero_text>Tutorials, news, and editorial commentary.</index_hero_text>
                <posts_per_page>10</posts_per_page>
                <reading_speed_wpm>220</reading_speed_wpm>
                <show_reading_time>1</show_reading_time>
                <show_author_bio>1</show_author_bio>
                <show_share_buttons>1</show_share_buttons>
                <show_view_count>0</show_view_count>
            </general>
            <display>
                <post_layout_default>default</post_layout_default>
                <show_toc>1</show_toc>
                <toc_min_h2>3</toc_min_h2>
                <related_posts_count>3</related_posts_count>
                <related_posts_strategy>manual_then_auto</related_posts_strategy>
                <sidebar_recent_count>5</sidebar_recent_count>
                <sidebar_show_categories>1</sidebar_show_categories>
                <sidebar_show_tag_cloud>1</sidebar_show_tag_cloud>
                <sidebar_show_authors>0</sidebar_show_authors>
                <sidebar_show_search>1</sidebar_show_search>
                <sidebar_show_subscribe>1</sidebar_show_subscribe>
                <category_template>grid</category_template>
                <featured_image_aspect>16:9</featured_image_aspect>
                <show_breadcrumbs>1</show_breadcrumbs>
                <post_excerpt_chars>160</post_excerpt_chars>
                <use_infinite_scroll>0</use_infinite_scroll>
                <show_badges>1</show_badges>
                <show_featured_badge>1</show_featured_badge>
                <new_badge_days>0</new_badge_days>
            </display>
            <comments>
                <enabled>0</enabled>
                <allow_for>everyone</allow_for>
                <auto_approve_registered>1</auto_approve_registered>
                <max_per_hour_per_ip>3</max_per_hour_per_ip>
                <enable_threading>1</enable_threading>
                <captcha_enabled>0</captcha_enabled>
                <captcha_provider>math</captcha_provider>
                <captcha_site_key></captcha_site_key>
                <captcha_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <nofollow_external_links>1</nofollow_external_links>
                <notify_admin_enabled>0</notify_admin_enabled>
                <notify_recipient_email></notify_recipient_email>
                <notify_sender_identity>general</notify_sender_identity>
            </comments>
            <feeds>
                <enabled>1</enabled>
                <posts_per_feed>25</posts_per_feed>
                <include_full_content>0</include_full_content>
                <per_category_feeds>1</per_category_feeds>
                <per_tag_feeds>0</per_tag_feeds>
                <per_author_feeds>1</per_author_feeds>
                <cache_ttl_seconds>3600</cache_ttl_seconds>
            </feeds>
            <seo>
                <title_template>{{post.title}}</title_template>
                <default_meta_description>Latest articles and tutorials.</default_meta_description>
                <tag_thin_content_threshold>3</tag_thin_content_threshold>
                <og_use_featured_image>1</og_use_featured_image>
                <og_auto_generate>0</og_auto_generate>
                <og_image_template>default</og_image_template>
                <og_image_brand_color>#f97316</og_image_brand_color>
                <breadcrumbs_emit_schema>1</breadcrumbs_emit_schema>
                <emit_organization_schema>1</emit_organization_schema>
            </seo>
            <aeo>
                <auto_extract_tldr>1</auto_extract_tldr>
                <tldr_visible_threshold_chars>1500</tldr_visible_threshold_chars>
                <howto_auto_detect>1</howto_auto_detect>
                <citation_style>numbered_footnote</citation_style>
            </aeo>
            <aio>
                <llms_txt_include>1</llms_txt_include>
                <llms_txt_max_posts>50</llms_txt_max_posts>
                <llms_full_txt_include>1</llms_full_txt_include>
                <markdown_export_enabled>1</markdown_export_enabled>
            </aio>
            <indexnow>
                <enabled>1</enabled>
                <notify_on_publish>1</notify_on_publish>
                <notify_on_update>1</notify_on_update>
                <notify_on_delete>0</notify_on_delete>
                <batch_size>100</batch_size>
            </indexnow>
            <perf>
                <lazy_load_images>1</lazy_load_images>
                <webp_enabled>1</webp_enabled>
                <responsive_image_sizes>480,800,1200</responsive_image_sizes>
                <jpeg_quality>80</jpeg_quality>
                <webp_quality>75</webp_quality>
                <cache_ttl_seconds>7200</cache_ttl_seconds>
            </perf>
            <advanced>
                <markdown_import_enabled>0</markdown_import_enabled>
                <frontmatter_format>yaml</frontmatter_format>
                <wysiwyg_editor>tinymce</wysiwyg_editor>
                <url_history_retention_days>365</url_history_retention_days>
                <debug_log_enabled>0</debug_log_enabled>
            </advanced>
        </panth_blog>
    </default>
</config>
