<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_Blog::group"
             title="Blog"
             module="Panth_Blog"
             sortOrder="55"
             parent="Panth_Core::panth_extensions"
             resource="Panth_Blog::post"/>
        <add id="Panth_Blog::post"
             title="Manage Posts"
             module="Panth_Blog"
             sortOrder="10"
             parent="Panth_Blog::group"
             action="panth_blog/post/index"
             resource="Panth_Blog::post"/>
        <add id="Panth_Blog::category"
             title="Manage Categories"
             module="Panth_Blog"
             sortOrder="20"
             parent="Panth_Blog::group"
             action="panth_blog/category/index"
             resource="Panth_Blog::category"/>
        <add id="Panth_Blog::tag"
             title="Manage Tags"
             module="Panth_Blog"
             sortOrder="30"
             parent="Panth_Blog::group"
             action="panth_blog/tag/index"
             resource="Panth_Blog::tag"/>
        <add id="Panth_Blog::author"
             title="Manage Authors"
             module="Panth_Blog"
             sortOrder="40"
             parent="Panth_Blog::group"
             action="panth_blog/author/index"
             resource="Panth_Blog::author"/>
        <add id="Panth_Blog::comment"
             title="Manage Comments"
             module="Panth_Blog"
             sortOrder="50"
             parent="Panth_Blog::group"
             action="panth_blog/comment/index"
             resource="Panth_Blog::comment"/>
        <add id="Panth_Blog::settings"
             title="Configuration"
             module="Panth_Blog"
             sortOrder="99"
             parent="Panth_Blog::group"
             action="adminhtml/system_config/edit/section/panth_blog"
             resource="Panth_Blog::config"/>
    </menu>
</config>
